# Base URL for the Sauce Demo application
CYPRESS_BASE_URL=https://www.saucedemo.com
# Standard user credentials
CYPRESS_STANDARD_USER=standard_user
CYPRESS_STANDARD_PASSWORD=secret_sauce
# Locked out user credentials
CYPRESS_LOCKED_USER=locked_out_user
